In [1]:
import pandas as pd
import numpy as np

In [2]:
true = pd.read_csv('True.csv')
fake = pd.read_csv('Fake.csv')

In [3]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true['label'] = 1

In [6]:
fake['label'] = 0

In [7]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
news = pd.concat([fake,true],axis=0)

In [10]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [13]:
news = news.drop(['title', 'subject', 'date'], axis=1)

In [14]:
news = news.sample(frac=1) #Reshuffling

In [15]:
news.reset_index(inplace=True)

In [16]:
news.drop(['index'], axis=1, inplace=True)

In [17]:
news.head()

                                                text  label
0  NEW YORK/WASHINGTON (Reuters) - U.S. President...      1
1  (Reuters) - New Jersey and Maine ended partial...      1
2  Donald Trump might try to tell American voters...      0
3  ***WARNING***Video is disturbing**** What is e...      0
4  Dem Rep. Debbie Wasserman-Schultz Pakistani IT...      0

Data ready!

In [18]:
news.tail()

                                                    text  label
44893                                                         0
44894  ERBIL Iraq (Reuters) - Iraqi forces have enter...      1
44895  WASHINGTON (Reuters) - The U.S. Supreme Court ...      1
44896  For anyone who s paying attention, Hillary jus...      0
44897  WASHINGTON (Reuters) - The United States issue...      1

CNN

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Conv1D, GlobalMaxPooling1D, Dense
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Assuming 'news' is a Pandas DataFrame with 'text' and 'label' columns
# For demonstration purposes, let's assume 'news' is already defined
text = news["text"]
label = news["label"]

# Encode labels
label_encoder = LabelEncoder()
labels = label_encoder.fit_transform(label)

# Tokenization and padding
tokenizer = Tokenizer(num_words=10000)
tokenizer.fit_on_texts(text)
sequences = tokenizer.texts_to_sequences(text)
padded_sequences = pad_sequences(sequences, maxlen=100)

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(padded_sequences, labels, test_size=0.2, random_state=42)

# Model building and training (CNN)
model = Sequential()
model.add(Embedding(10000, 128))
model.add(Conv1D(64, 5, activation='relu'))
model.add(GlobalMaxPooling1D())
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=5, batch_size=32, validation_data=(X_test, y_test))

# Evaluation
# Predict on the test set
y_pred_proba = model.predict(X_test)
y_pred = (y_pred_proba > 0.5).astype(int)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE) on test set: {mae}")

# Prediction function for new articles
def predict_cnn(article_string):
    # Preprocess the article string (e.g., tokenization, padding)
    sequence = tokenizer.texts_to_sequences([article_string])
    padded_sequence = pad_sequences(sequence, maxlen=100)
    prediction = model.predict(padded_sequence)[0]
    if prediction > 0.5:
        return "Real News"
    else:
        return "Fake News"

Epoch 1/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 13s 11ms/step - accuracy: 0.9343 - loss: 0.1982 - val_accuracy: 0.9871 - val_loss: 0.0370
Epoch 2/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.9955 - loss: 0.0147 - val_accuracy: 0.9908 - val_loss: 0.0318
Epoch 3/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 13s 11ms/step - accuracy: 0.9997 - loss: 0.0027 - val_accuracy: 0.9902 - val_loss: 0.0332
Epoch 4/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.9999 - loss: 9.8353e-04 - val_accuracy: 0.9903 - val_loss: 0.0358
Epoch 5/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 12s 11ms/step - accuracy: 0.9999 - loss: 0.0013 - val_accuracy: 0.9905 - val_loss: 0.0373
281/281 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Mean Absolute Error (MAE) on test set: 0.009465478841870824

In [30]:
# Example usage
new_article = str(input())
prediction = predict_cnn(new_article)
print(f"Predicted label for '{new_article}':\n {prediction}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
Predicted label for 'Breaking News: Alien Invasion Threatens Earth's Existence  In an unprecedented event, multiple unidentified flying objects (UFOs) have been spotted hovering over major cities around the world. Videos and images of these mysterious aircraft have flooded social media, sparking widespread panic and speculation.  Government officials are urging citizens to remain calm while they investigate the situation. However, experts are expressing deep concern about the possibility of an imminent alien invasion. Some conspiracy theorists claim that the UFOs are not from another planet but are advanced military aircraft developed by a secretive global organization aiming to establish a new world order.  Meanwhile, reports of strange lights and unexplained phenomena have been pouring in from all corners of the globe. Witnesses describe seeing bright flashes of light, hearing bizarre noises, and experiencing electronic disruptions. Local authorities are struggling to maintain order as frightened residents flee their homes in search of safety.  As the world watches in fear and uncertainty, scientists and military forces are working tirelessly to decipher the intentions of these extraterrestrial visitors. Emergency meetings are being held at the highest levels of government, and preparations for a possible defense strategy are underway.  In the midst of this global crisis, misinformation and fake news are spreading rapidly, adding to the chaos and confusion. Social media platforms are struggling to control the spread of false information, and fake news articles are being shared widely, further fueling public hysteria.  Stay tuned for updates on this developing story as we continue to monitor the situation closely. In the meantime, experts advise taking precautionary measures such as staying indoors, avoiding unnecessary travel, and following official guidelines provided by government agencies.  Remember, in times of crisis, it is crucial to rely on verified sources for accurate information and to avoid spreading rumors or unconfirmed reports. Together, we can navigate through this challenging period and emerge stronger as a united global community.':
 Fake News

In [ ]:
from tensorflow.keras.models import save_model

# Save the trained model
save_model(model, 'fake_news_CNN.h5')

# Save the tokenizer (consider using pickle)
import pickle
with open('tokenizer.pkl', 'wb') as f:  # Replace 'tokenizer.pkl' with your desired filename
    pickle.dump(tokenizer, f)