In [1]:
import pandas as pd
import numpy as np

In [2]:
true = pd.read_csv('True.csv')
fake = pd.read_csv('Fake.csv')

In [3]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true['label'] = 1

In [6]:
fake['label'] = 0

In [7]:
true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [9]:
news = pd.concat([fake,true],axis=0)

In [10]:
news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
news.tail()

,title,text,subject,date,label
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [12]:
news.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [13]:
news = news.drop(['title', 'subject', 'date'], axis=1)

In [14]:
news = news.sample(frac=1) #Reshuffling

In [15]:
news.reset_index(inplace=True)

In [16]:
news.drop(['index'], axis=1, inplace=True)

In [17]:
news.head()

                                                text  label
0  WASHINGTON (Reuters) - Opponents of a proposal...      1
1  San Antonio Spurs coach Gregg Popovich is a to...      0
2  Pastor Roger Jimenez made national news after ...      0
3  Hillary Clinton shocked America a few days ago...      0
4  An Arizona pastor used his position to get clo...      0

Data ready!

In [18]:
news.tail()

                                                    text  label
44893  NEW YORK (Reuters) - President Donald Trump on...      1
44894  BERLIN (Reuters) - Germany s three would-be co...      1
44895  ISTANBUL (Reuters) - Turkey s Tayyip Erdogan a...      1
44896  This why the Founding Fathers wanted separatio...      0
44897  Hillary Clinton has picked up a huge endorseme...      0

CNN

In [19]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Conv1D, GlobalMaxPooling1D, Dense
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Assuming 'news' is a Pandas DataFrame with 'text' and 'label' columns
# For demonstration purposes, let's assume 'news' is already defined
text = news["text"]
label = news["label"]

# Encode labels
label_encoder = LabelEncoder()
labels = label_encoder.fit_transform(label)

# Tokenization and padding
tokenizer = Tokenizer(num_words=10000)
tokenizer.fit_on_texts(text)
sequences = tokenizer.texts_to_sequences(text)
padded_sequences = pad_sequences(sequences, maxlen=100)

# Train-Test Split
X_train, X_test, y_train, y_test = train_test_split(padded_sequences, labels, test_size=0.2, random_state=42)

# Model building and training (CNN)
model = Sequential()
model.add(Embedding(10000, 128))
model.add(Conv1D(64, 5, activation='relu'))
model.add(GlobalMaxPooling1D())
model.add(Dense(1, activation='sigmoid'))

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=5, batch_size=32, validation_data=(X_test, y_test))

# Evaluation
# Predict on the test set
y_pred_proba = model.predict(X_test)
y_pred = (y_pred_proba > 0.5).astype(int)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE) on test set: {mae}")

# Prediction function for new articles
def predict_cnn(article_string):
    # Preprocess the article string (e.g., tokenization, padding)
    sequence = tokenizer.texts_to_sequences([article_string])
    padded_sequence = pad_sequences(sequence, maxlen=100)
    prediction = model.predict(padded_sequence)[0]
    if prediction > 0.5:
        return "Real News"
    else:
        return "Fake News"

2024-04-04 23:30:09.308224: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-04 23:30:10.403818: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

Epoch 1/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 17s 14ms/step - accuracy: 0.9194 - loss: 0.2011 - val_accuracy: 0.9854 - val_loss: 0.0406
Epoch 2/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 15s 13ms/step - accuracy: 0.9957 - loss: 0.0148 - val_accuracy: 0.9893 - val_loss: 0.0401
Epoch 3/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 15s 13ms/step - accuracy: 0.9998 - loss: 0.0028 - val_accuracy: 0.9909 - val_loss: 0.0379
Epoch 4/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 15s 14ms/step - accuracy: 0.9999 - loss: 0.0014 - val_accuracy: 0.9901 - val_loss: 0.0365
Epoch 5/5
1123/1123 ━━━━━━━━━━━━━━━━━━━━ 15s 14ms/step - accuracy: 0.9998 - loss: 0.0022 - val_accuracy: 0.9899 - val_loss: 0.0381
281/281 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step
Mean Absolute Error (MAE) on test set: 0.010133630289532293

In [22]:
# Example usage
new_article = str(input())
prediction = predict_cnn(new_article)
print(f"Predicted label for '{new_article}':\n {prediction}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
Predicted label for 'New Delhi: The Islamic Resistance of Iraq, an umbrella group of Iran-backed armed groups in the region, on Tuesday shared a video footage of launching a kamikaze drone missile on the 'Tel Nof' airbase of Israel. The attack comes in the disputed territory which is claimed by both - Israel and Palestine. While the footage was released on Tuesday, the drone was fired on Monday morning and it hit the naval base of Eilat, as confirmed by the Israeli Air Force.  The Israel Defense Forces (IDF) reported that a drone, apparently launched from Iraq, had struck a building in the naval base of Eilat on Monday morning. According to the IDF, they detected a 'suspicious aerial target' entering Israeli airspace "from the east" before impacting "in the Eilat Bay area." The strike caused minor damage to a building in Eilat Bay, with no reported injuries, the IDF stated. Subsequently, the IDF confirmed that the affected building was a hangar at the Eilat naval base.':
 Real News

In [21]:
from tensorflow.keras.models import save_model

# Save the trained model
save_model(model, 'fake_news_CNN.keras')

# Save the tokenizer (consider using pickle)
import pickle
with open('tokenizer.pkl', 'wb') as f:  # Replace 'tokenizer.pkl' with your desired filename
    pickle.dump(tokenizer, f)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.